/* Déclaration des Polices */
@font-face {
    font-family: "GreatVibe";
    src: url("./GreatVibe/GreatVibes-Regular.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Barlow";
    src: url("./Barlow/Barlow-Regular.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Barlow-Bold";
    src: url("./Barlow/Barlow-SemiBold.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

/* Style par défaut */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;
}

:root {
    --primary-color: #966f53;
    --secondary-color: #fff7f1;
    --background-color: #333;
    --text-color: white;
}

figure:hover {
    transform: scale(1.01);
}

/* Header */

header div {
    background: var(--background-color);
    min-height: 100vh;
    font-family: Montserrat, sans-serif;
}

header nav a {
    font-size: 40px;
    color: var(--primary-color);
    padding: 20px;
    text-align: center;
}

header nav {
    position: fixed;
    left: 0;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    height: 101%;
    background: var(--background-color);
}

header section {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all ease-in .5s;
    display: flex;
    justify-content: center;
    align-items: center;
} 

header section h1 {
    color: var(--text-color);
    font-size: 50px;
    opacity: 1;
    font-family: 'GreatVibe', arial, sans-serif;
}

header img {
    height: 40px;
    width: auto;
}

header section:target {
    opacity: 1;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}

header section:target h1 {
    opacity: 0;
    animation: 2s fadeIn forwards .5s;
}

#first {
    background: var(--primary-color);
}
#second {
    background: var(--primary-color);
}

#third {
    background: var(--primary-color);
}

#fourth {
    background: var(--primary-color);
}

@keyframes fadeIn {
    100% { opacity:1 }
}

/* Téléchargement */

.download {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Barlow-Bold', arial, sans-serif;
    text-decoration: none;
}

.download:hover {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

/* Style du body */

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45em;
    background-image: url(./images/background.jpg);
}

/* Portfolio */

body div:first-child {
    padding: 30px;
    background: var(--background-color);
    text-align: center;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 2);
    align-items: center;
    border-radius: 10px;
}


h1 {
    color: var(--secondary-color);
    font-size: 6em;
    margin-bottom: 10px;
    font-family: 'GreatVibe', arial, sans-serif;
}

p {
    color: var(--secondary-color);
    font-size: 15px;
    margin-bottom: 20px;
    width: 80em;
    font-family: 'Barlow', arial, sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    gap: 25px;
}

.container a {
    display: inline-block;
}

.container img {
    width: auto;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
    max-width: 100%;
    transition: background-color 0.3s ease, transform 0.5s ease;
}

.container img:hover {
    transform: scale(1.1);
}

/* JavaScript */

.java-container {
    position: relative;
    width: 400px;
    height: 250px;

}

.slider {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.slide {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
}

.slide.active {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    opacity: 1;
    transform: translateX(0);
}

.java-points {
    position: absolute;
    bottom: 220px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    gap: 10px;
}

.point {
    width: 12px;
    height: 12px;
    background-color: black;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.point.active {
    background-color: var(--text-color);
}

.point:hover {
    transition: all 0.3s ease-in-out;
    background-color: var(--primary-color);
}

/* CV */

.cv {
    padding: 30px;
    background: var(--background-color);
    text-align: center;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 2);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 60%;
}

.cv img{
    height: 85em;
}

.cv .download {
    font-size: larger;
}

/* Projet Snake */

.snake-container {
    margin-top: 50px;
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(2, minmax(300px, 1fr));
    gap: 30px;
    justify-content: center;
    align-items: center;
    max-width: 1300px;
}


.snake {
    margin-top: 60%;
}

.snake h2 {
    margin-bottom: 15px;
    font-size: 4em;
    color: var(--primary-color);
    font-family: 'GreatVibe', arial, sans-serif;
}

.snake figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px solid #ccc;
    border-radius: 20px;
    padding: 20px;
    background: var(--secondary-color);;
    text-align: center;
    width: 100%;
}

.snake a {
    padding-top: 10px;
    font-size: 1.5em;
    font-family: 'Barlow-Bold', arial, sans-serif;
    margin: 1% 5%;
    color: var(--background-color);
    background-color: var(--primary-color);
    width: 20em;
    border: solid;
}

.snake figure:last-child {
    margin-top: 20px;
    margin-left: 53%;
}

/* Projet Snake Automatique */

.snake-container-auto {
    margin-top: 50px;
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(2, minmax(300px, 1fr));
    gap: 30px;
    justify-content: center;
    align-items: center;
    max-width: 1300px;
}

.snake-auto {
    margin-top: 50%;
}

.snake-auto h2 {
    margin-bottom: 15px;
    font-size: 4em;
    color: var(--primary-color);
    font-family: 'GreatVibe', arial, sans-serif;
}

.snake-auto figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px solid #ccc;
    border-radius: 20px;
    padding: 20px;
    background: var(--secondary-color);;
    text-align: center;
    width: 100%;
}

.snake-auto a {
    padding-top: 10px;
    font-size: 1.5em;
    font-family: 'Barlow-Bold', arial, sans-serif;
    margin: 1% 5%;
    color: var(--background-color);
    background-color: var(--primary-color);
    width: 20em;
    border: solid;
}

.snake-auto figure:last-child {
    margin-top: 20px;
    margin-left: 53%;
}

/* Site Web JO*/

.web {
    margin-top: 95%;
    max-width: 1300px;
    padding: 20px;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px;
    background: var(--background-color);
    text-align: center;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 2);
    align-items: center;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.web article {
    text-align: left;
    width: 90%;
    margin-left: auto;
    margin-right: 5em;
    color: var(--text-color);
    line-height: 22px;
    margin-bottom: 1em;
}

.web article p {
    width: 100%;
    margin-bottom: 2em;
}

.web li {
    margin-left: 4em;
}

.web li:first-child {
    margin-left: 0;
}

.web div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1200px;
}

.web h2 {
    color: var(--text-color);
    text-align: center;
    width: 600px;
    height: 200px;
    background-color: #8B6A56;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-size: xx-large;
}

.web img {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    width: 575px;
    height: auto;
    border-radius: 20px;
}

.web p {
    width: 610px;
    color: var(--text-color);
    font-size: x-large;
    text-align: center;
}

.web p:nth-child(1) {
    margin-right: 2em;
}

.web h3 {
    margin: 0;
}

.web ul {
    font-size: larger;
    text-align: left;
    padding-right: 20px;
    color: var(--text-color);
}

.web ul:nth-child(1) {
    margin-left: -1em;
}

.web ul:last-child {
    margin-left: 3em;
}

.web ul li:first-child {
    padding-bottom: 15px;
    list-style-type: none;
}

.web .download {
    width: 20em;
    font-size: 2em;
}

@media screen and (max-width: 450px) /* Zoom 400 % */
{

/* Style du body */

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    background-image: url(./images/background.jpg);
    background-size: 380px;
}

/* Portfolio */

body div:first-child {
    padding: 10px;
    background: var(--primary-color);
    text-align: center;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 2);
    align-items: center;
    border-radius: 10px;
}


h1 {
    color: var(--secondary-color);
    font-size: 2em;
    margin-bottom: 10px;
    font-family: 'GreatVibe', arial, sans-serif;
}

p {
    color: var(--secondary-color);
    font-size: 15px;
    margin-bottom: 20px;
    width: 80em;
    font-family: 'Barlow', arial, sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    gap: 25px;
}

.container a {
    display: inline-block;
}

.container img {
    width: auto;
    height: 60px;
    object-fit: cover;
    border-radius: 5px;
    max-width: 100%;

}

.container img { 
    transition: background-color 1.5s ease, transform 1.5s ease;
}

.container img:hover {
    transform: scale(1.1);
}

/* JavaScript */

.java-container {
    position: relative;
    width: 90px;
    height: 60px;

}

.slider {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
}

.slide.active {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    opacity: 1;
    transform: translateX(0);
}

.java-points {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    gap: 5px;
}

.point {
    width: 4px;
    height: 4px;
    background-color: black;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 2s;
}

.point.active {
    background-color: var(--text-color);
    transform: scale(1.5);
}

}

.end {
    height: 50px;
    width: 100%;
    justify-content: center;
    text-align: center;
}

.end:hover {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}